{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <form action="{% url 'login' %}" method="post">
                {% bootstrap_form form %}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-2">{% trans 'Login' %}</button>
                <a class="btn btn-outline-secondary mt-2" href="{% url 'django_registration_register' %}">{% trans 'Create Account' %}</a>
            </form>
        </div>
    </div>
{% endblock %}