{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class="row mb-5 mt-5">
        <div class="col-md-8 offset-md-2 index-lead">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-12 col-xl-6">
                    <h1 class="mb-4">Phase Six</h1>
                    <p>
                        {% blocktrans %}
                            Are you in need of a simple and quick ruleset to play your stories as a pen'n'paper rpg?
                            <em>Phase Six</em> is a fast playing roleplay ruleset to be used in any setting.
                            All you need to play is a handfull of regular six-sided dice and some paper.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            This website lets you create and manage your characters as well as their equipment
                            and possessions.  This makes it really easy to use a platform like
                            <a href="https://roll20.net">Roll20</a> for your sessions.
                            You can also export your character to a classic character sheet to play offline.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            Start now and take a look at the game rules or create a character.
                        {% endblocktrans %}
                    </p>
                    <a href="{% url 'rulebook:detail' pk=1 %}" class="btn btn-primary btn-lg mt-4 me-2">{% trans 'Have a look at the rules' %}</a>
                    <a href="{% url 'characters:create_character' %}" class="btn btn-primary btn-lg mt-4">{% trans 'Create a character' %}</a>
                </div>
                <div class="col-lg-6 col-xl-6 d-sm-none d-md-none d-xl-block d-lg-block">
                    <img src="{% static 'img/olesia-misty-w8JcAEu_jm8-unsplash.jpg' %}" alt="{% trans 'Photo by Unsplash.com' %}" title="{% trans 'Photo by Unsplash.com' %}" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
{% endblock %}