{% extends 'base.html' %}
{% load i18n rules_extras characters_extras thumbnail static %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            let body = $('body')

            $('.sidebar-close').on('click', function () {
                $('#sidebar-right').css('width', '');
                return false;
            });

            body.on('click', '.modal-trigger', function (e) {
                $('.character-modal-container').load($(this).data('url'))
                $('.modal-header h5').text($(this).data('modal-title'))
                $('#sidebar-right').css('width', '');
            })

            body.on('click', '.sidebar-trigger', function(e){
                let sidebar = $('#sidebar-right');
                $(sidebar).css('width', '330px');
                sidebar.find('h4:first').text($(this).data('sidebar-title'))
                sidebar.find('.sidebar-content')
                    .data('sidebar-url', $(this).data('sidebar-url'))
                    .load($(this).data('sidebar-url'))
            })

            body.on('click', '.action-link', function (e) {
                $.post($(this).attr('href'), function (data) {
                    refresh_fragments()
                })
                if($(this).hasClass('close-sidebar')){
                    $('#sidebar-right').css('width', '');
                }
                e.preventDefault()
                return false
            })

            body.on('change', '.status-effect-value', function(e){
                let elem = $(this);
                let value = elem.val();
                let status_effect_id = elem.data('status-effect-id');

                $.post(
                    elem.data('url'),
                    {
                        status_effect_id: status_effect_id,
                        value: value
                    },
                    function(data) {
                        let target = $(`span[data-status-effect-id="${status_effect_id}"]`)
                        target
                            .removeClass('text-danger text-muted')
                            .text(value)
                        refresh_fragments()
                    }
                )
            })

            $('#character-modal').on('hidden.bs.modal', function (e) {
                refresh_fragments()
                $('.character-modal-container').html('')
            })

            function refresh_fragments() {
                $('.fragment').each(function (index) {
                    $(this).load($(this).data('fragment-url'), function (response, status, xhr) {
                        $(this).children(':first').unwrap() // keep the original fragment container
                        $('[data-bs-toggle="popover"]').popover()
                        $('.masonry-container').masonry({percentPosition: true})
                    })
                })

                let sc = $('.sidebar-content')
                if(sc.data('sidebar-url') !== undefined) {
                    sc.load(sc.data('sidebar-url'))
                }
            }

            $('.template').tilt({
                glare: false,
                perspective: 1800
            })

            // save bootstrap tabs
            $('a[data-bs-toggle="tab"]').on('click', function (e) {
                window.localStorage.setItem('activeTab', $(e.target).attr('href'))
            })

            var activeTab = window.localStorage.getItem('activeTab')
            if (activeTab) {
                $('a[href="' + activeTab + '"]').tab('show')
            }

            // reputation
            body.on('submit', '.add-reputation-form', function (e) {
                let form = $(this)
                let btn = form.find('button')
                let original_btn_html = btn.html()

                btn.text(btn.data('flash-message'))
                setTimeout(function () {
                    btn.html(original_btn_html)
                }, 1000)

                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: form.serialize()
                }).done(function (data) {
                    refresh_fragments()
                })
                e.preventDefault()
                return false
            })

            body.on('click', '.delete-character', function (e) {
                let elem = $(this)
                if (confirm(elem.data('message'))) {
                    $.post(elem.attr('href'), function (data) {
                        window.location = data.url
                    })
                }
                e.preventDefault()
                return false
            })

            $('[data-bs-toggle="popover"]').popover()
            setTimeout(() => $('.masonry-container').masonry({percentPosition: true}), 500)

        })
    </script>
{% endblock %}

{% block belownav %}
    <div
            class="row character-info-row"
            style="
                    {% if character.backdrop_image %}
                        background-image: url({{ character.backdrop_image.url }})
                    {% else %}
                        {% if character.get_epoch.image %}
                            {% thumbnail character.get_epoch.image "1800" as im %}
                            background-image: url({{ im.url }})
                            {% endthumbnail %}
                        {% else %}
                            background-color: silver
                        {% endif %}
                    {% endif %}">

        <div class="col-md-10 offset-md-1 d-flex justify-content-between pb-5">
            <div>
                <h3 class="mb-0">{{ object.name }}</h3>
                <small>{% template_category_string object 3 "" %}</small><br>
                <small>{% template_category_string object 2 "" %}</small><br>
                <small>{% template_category_string object 6 "" %}</small><br>
            </div>

            <div class="{% if may_edit %}sidebar-trigger{% endif %} mt-2" data-sidebar-title="{% trans 'Character' %}"
                         data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=object.id model_name="Character" sidebar_name="character" %}">
                {% if character.image %}
                    {% thumbnail character.image "140x140" crop="center" as im %}
                        <img class="rounded img-fluid" src="{{ MEDIA_URL }}{{ im.url }}" alt="{{ object.name }}">
                    {% endthumbnail %}
                {% else %}
                    <img class="rounded img-fluid" width="140" height="140" src="{% static 'img/silhuette.png' %}" alt="{{ object.name }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="character-modal" class="modal fade character-modal" tabindex="-1" role="dialog"
         aria-labelledby="character-modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body character-modal-container">
                    <div class="text-center">
                        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                        <span class="sr-only">{% trans 'Loading' %}...</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-12">
            {% detail_fragment 'Character' 'health' %}

            <div class="nav nav-tabs justify-content-center mb-3" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link active" data-bs-toggle="tab" href="#v-character"
                   role="tab" aria-controls="v-character" aria-selected="true"><i
                        class="fas fa-fw fa-male"></i>&nbsp;{% trans 'Character' %}</a>
                <a class="nav-link" data-bs-toggle="tab" href="#v-gear" role="tab" aria-controls="v-gear"
                   aria-selected="true"><i class="fas fa-suitcase fa-fw"></i>&nbsp;{% trans 'Gear' %}</a>
                <a class="nav-link" data-bs-toggle="tab" href="#v-combat" role="tab" aria-controls="v-combat"
                   aria-selected="true"><i class="fas fa-fw fa-chess-pawn"></i>&nbsp;{% trans 'Combat' %}</a>
                {% if object.extension_enabled.magic %}
                    <a class="nav-link" data-bs-toggle="tab" href="#v-magic" role="tab" aria-controls="v-combat"
                       aria-selected="true"><i class="fas fa-fw fa-magic"></i>&nbsp;{% trans 'Magic' %}
                        {% if object.spell_points_available %}
                            <span class="badge bg-info ms-2">{{ object.spell_points_available }}</span>
                        {% endif %}
                    </a>
                {% endif %}
                <a class="nav-link" data-bs-toggle="tab" href="#v-background" role="tab" aria-controls="v-background"
                   aria-selected="true"><i class="fas fa-fw fa-graduation-cap"></i>&nbsp;{% trans 'Background' %}
                    <span class="badge bg-primary ms-2">{{ object.reputation_available }}</span>
                </a>
            </div>

            {% if not object.created_by %}
                <div class="alert alert-danger" role="alert">
                    {% trans 'This character was created while not being logged in. It will be deleted by tomorrow.' %}
                </div>
            {% endif %}

            <div class="tab-content">
                <div class="tab-pane fade show active" id="v-character" role="tabpanel">
                    {% detail_fragment 'Character' 'character' %}
                </div>

                <div class="tab-pane fade" id="v-gear" role="tabpanel">
                    {% detail_fragment 'Character' 'gear' %}
                </div>

                <div class="tab-pane fade" id="v-combat" role="tabpanel">
                    {% detail_fragment 'Character' 'combat' %}
                </div>

                <div class="tab-pane fade" id="v-magic" role="tabpanel">
                    {% detail_fragment 'Character' 'magic' %}
                </div>

                <div class="tab-pane fade" id="v-background" role="tabpanel">
                    {% detail_fragment 'Character' 'advancement' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
