{% extends 'base.html' %}
{% load i18n static thumbnail characters_extras %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'characters:create_character' %}" class="btn btn-primary btn-lg float-end mb-2">{% trans 'Create a character' %}</a>
        </div>
    </div>
    {% if own_characters %}
        <div class="row character-list">
            <div class="col-12">
                <h1 class="text-center mb-3">- {% trans 'Your characters' %} -</h1>
            </div>
            {% for object in own_characters %}
                <div class="col-12 col-sm-6 col-md-6 mb-3">
                    {% include 'characters/_character_list_widget.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if other_peoples_characters %}
        <div class="row character-list">
            <div class="col-12">
                <h1 class="text-center mb-3 mt-3">- {% trans 'Other peoples characters' %} -</h1>
                <p class="text-center muted">{% trans 'You can see these because you are an admin' %}</p>
            </div>
            {% for object in other_peoples_characters %}
                <div class="col-12 col-sm-6 col-md-6 mb-3">
                    {% include "characters/_character_list_widget.html" %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
