{% extends 'base.html' %}
{% load i18n thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">- {% trans 'New Character' %} -</h1>
            <p class="text-muted text-center">{% trans 'Choose an epoch for your character to live in' %}</p>
        </div>

        {% for extension in extensions %}
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'characters:create_character_data' extension_pk=extension.id %}">
                    <div class="card text-center create-epoch-card mb-4">
                        {% thumbnail extension.image "1024" as im %}
                        <div class="card-body" style="background-image: url({{ im.url }}); background-size: cover">
                        {% endthumbnail %}
                            <div class="card-text w-100 p-5">
                                <h5 class="text-center p-0 m-0">{{ extension }}</h5>
                                <p class="text-center text-dark p-0 m-0">{{ extension.year_range }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}