{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary float-end mb-2 sidebar-trigger" data-sidebar-title="{% trans 'Reputation' %}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=object.id model_name="Character" sidebar_name="reputation" %}">{% trans "Reputation and advancement" %}</button>
                </div>
            </div>
            <div class="row">
                {% for template in character.charactertemplate_set.all %}
                    <div class="col-12 col-md-6">
                        {% template_widget template.template %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
