{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
    <div class="row">

        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans 'Persona' %}</th>
                    <th class="text-end">{% trans 'Dice' %}</th>
                </tr>
                </thead>
                <tr>
                    <td>{% trans 'Education' %}</td>
                    <td class="text-end">{% color_value_span object.education 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Logic' %}</td>
                    <td class="text-end">{% color_value_span object.logic 140 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Conscientiousness' %}</td>
                    <td class="text-end">{% color_value_span object.conscientiousness 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Willpower' %}</td>
                    <td class="text-end">{% color_value_span object.willpower 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Apprehension' %}</td>
                    <td class="text-end">{% color_value_span object.apprehension 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Charm' %}</td>
                    <td class="text-end">{% color_value_span object.charm 7 %}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Physis' %}</th>
                        <th class="text-end">{% trans 'Dice' %}</th>
                    </tr>
                </thead>
                <tr>
                    <td>{% trans 'Deftness' %}</td>
                    <td class="text-end">{% color_value_span object.deftness 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Strength' %}</td>
                    <td class="text-end">{% color_value_span object.strength 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Attractiveness' %}</td>
                    <td class="text-end">{% color_value_span object.attractiveness 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Endurance' %}</td>
                    <td class="text-end">{% color_value_span object.endurance 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Resistance' %}</td>
                    <td class="text-end">{% color_value_span object.resistance 7 %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Quickness' %}</td>
                    <td class="text-end">{% color_value_span object.quickness 7 %}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            {% if object.knowledge_dict %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans 'Knowledge' %}</th>
                        <th class="text-end">{% trans 'Dice' %}</th>
                    </tr>
                    </thead>
                    {% for knowledge in object.knowledge_dict.items %}
                        <tr>
                            <td>
                                {{ knowledge.0 }}
                                {% if knowledge.0.skill %}
                                    <small class="text-muted">({{ knowledge.0.skill }})</small>
                                {% endif %}
                            </td>
                            <td class="text-end">
                                {% color_value_span knowledge.1 6 %}
                                {% if knowledge.0.skill %}
                                    {% character_knowledge_skil_value object knowledge.0 as cs %}
                                    + {% color_value_span cs 6 %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

<div class="row mt-2">
    <div class="col-md-4">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans 'Skills' %}</th>
                <th class="text-end">{% trans 'Dice' %}</th>
            </tr>
            </thead>
            {% for skill in object.characterskill_set.mind_skills %}
                <tr>
                    <td>
                        {{ skill.skill }}
                        <small class="text-muted">({{ skill.skill.dominant_attribute_name|capfirst }}, {{ skill.skill.supplemental_attribute_name|capfirst }})</small>
                    </td>
                    <td class="text-end">{% color_value_span skill.value 7 %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-4">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans 'Skills' %}</th>
                <th class="text-end">{% trans 'Dice' %}</th>
            </tr>
            </thead>
            {% for skill in object.characterskill_set.practical_skills %}
                <tr>
                    <td>
                        {{ skill.skill }}
                        <small class="text-muted">({{ skill.skill.dominant_attribute_name|capfirst }}, {{ skill.skill.supplemental_attribute_name|capfirst }})</small>
                    </td>
                    <td class="text-end">{% color_value_span skill.value 7 %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-4">
        {% if object.shadow_list or object.templates_with_shadow_rules.exists %}
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans 'Shadows' %}</th>
                </tr>
                </thead>
                {% for shadow in object.shadow_list %}
                    <tr>
                        {% if shadow.description %}
                            <td><a role="button" tabindex="0" data-bs-toggle="popover" data-bs-container="body" data-trigger="focus" title="{{ shadow }}" data-bs-content="{{ shadow.description }}">{{ shadow }}</a></td>
                        {% else %}
                            <td>{{ shadow }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for template in object.templates_with_shadow_rules.all %}
                    <tr>
                        <td><a role="button" tabindex="0" data-bs-toggle="popover" data-bs-container="body" data-trigger="focus" title="{{ template.template.name }}" data-bs-html="true" data-bs-content="{{ template.template.rules|urpg_markup }}">{{ template.template.name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
