{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
<div class="row">
    <div class="col-12 col-xl-9 mb-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        {% trans 'Action' %}<br>
                    </th>
                    <th title="{% trans 'Capacity' %}">
                        {% trans 'Cap.' %}<br>
                    </th>
                    <th class="text-end">
                        <small>{% trans 'Attack Dice' %}</small>
                    </th>
                    <th class="text-end">
                        <small>{% trans 'Penetration' %}</small>
                    </th>
                    <th class="text-end">
                        {% trans 'Bonus' %}<br>
                    </th>
                    <th class="text-end">
                        {% trans 'Range' %}<br>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="fas fa-hand-rock text-success"></i> {% trans 'Weaponless' %}<br>
                            <small>{% trans 'Melee' %}</small>
                        </td>
                        <td>-</td>
                        <td class="text-end">
                            {% trans 'Weaponless Attack' %} {% color_value_span object.weaponless_attack_dice 6 %} <i class="fas text-muted fa-dice-five"></i>
                        </td>
                        <td class="text-end">
                            {% color_value_span 0 3 %}
                        </td>
                        <td class="text-end">
                            {% for i in object.weaponless_bonus_wounds|to_range %}
                                <i class="fas fa-heart text-danger"></i>
                            {% endfor %}
                        </td>
                        <td class="text-end">
                            1m
                        </td>
                    </tr>
                {% for w in object.characterweapon_set.all %}
                    <tr class="sidebar-trigger" data-sidebar-title="{{ w.weapon }}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=w.id model_name="CharacterWeapon" sidebar_name="characterweapon" %}">
                        <td>
                            <i class="fas fa-hand-rock text-success"></i> {{ w.weapon }}<br>
                            <small>{{ w.weapon.type }}</small>
                        </td>
                        <td>
                            {% if w.has_capacity %}
                                {% color_value_span w.capacity_available w.modified_capacity %} / {% color_value_span w.modified_capacity w.modified_capacity %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-end">
                            {% for am in w.attack_modes %}
                                {{ am.0 }} {% color_value_span am.1 7 %} <i class="fas text-muted fa-dice-five"></i><br>
                            {% endfor %}
                        </td>
                        <td class="text-end">
                            {% color_value_span w.modified_penetration 3 %}
                        </td>
                        <td class="text-end">
                            {% for wm in w.modifications.all %}
                                {% for wma in wm.weaponmodificationattributechange_set.all %}
                                    {% if wma.status_effect %}
                                        {{ wma.status_effect|capfirst }} <i class="{{ wma.status_effect.fa_icon_class }}"></i> {% color_value_span wma.status_effect_value 4 %}<br>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% for i in w.modified_wounds|to_range %}
                                <i class="fas fa-heart text-danger"></i>
                            {% endfor %}
                            <br>
                        </td>
                        <td class="text-end">
                            {{ w.modified_range_meter }}m
                        </td>
                    </tr>
                {% endfor %}
                {% for i in object.characteritem_set.usable_in_combat %}
                    <tr class="sidebar-trigger" data-sidebar-title="{{ i.item }}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=i.id model_name="CharacterItem" sidebar_name="characteritem" %}">
                        <td>
                            <i class="fas fa-bomb text-info"></i> <span class="text-muted"></span>{{ i.item }}<br>
                            <small>{{ i.item.type }}</small>
                        </td>
                        <td>
                            {% color_value_span i.quantity 4 %}
                        </td>
                        <td class="text-end">
                            {{ i.use_skill.skill.name }} {% color_value_span i.use_skill.value 5 %} <i class="fas text-muted fa-dice-five"></i>
                        </td>
                        <td class="text-end">
                        </td>
                        <td class="text-end">
                        </td>
                        <td class="text-end">
                        </td>
                    </tr>
                {% endfor %}
                {% for t in object.templates_with_combat_rules.all %}
                    <tr>
                        <td>
                            <i class="fas fa-graduation-cap text-danger"></i> <span class="text-muted"></span>{{ t.template.name }}<br>
                            <small>{{ t.template.category }}</small>
                        </td>
                        <td colspan="5">
                            {{ t.template.rules|urpg_markup }}
                        </td>
                    </tr>
                {% endfor %}
                {% for s in object.characterspell_set.all %}
                    <tr class="sidebar-trigger" data-sidebar-title="{{ s }}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=s.id model_name="CharacterSpell" sidebar_name="characterspell" %}">
                        <td>
                            <i class="fas fa-magic text-danger"></i> {{ s.spell }}<br>
                            <small>{{ s.spell_type }} - {{ s.variant }}</small>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">
                        <i class="fas fa-user-shield text-warning"></i> {% trans "Walk" %}<br>
                        <small>{% trans 'Movement' %}</small>
                    </td>
                    <td class="text-end">
                        {% color_value_span object.combat_walking_range 4 %} {% trans 'Meter' %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <i class="fas fa-user-shield text-warning"></i> {% trans "Run" %}<br>
                        <small>{% trans 'Movement' %}</small>
                    </td>
                    <td class="text-end">
                        {% color_value_span object.combat_running_range 4 %} {% trans 'Meter' %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <i class="fas fa-user-shield text-warning"></i> {% trans "Crawl" %}<br>
                        <small>{% trans 'Movement' %}</small>
                    </td>
                    <td class="text-end">
                        {% color_value_span object.combat_crawling_range 4 %} {% trans 'Meter' %}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <i class="fas fa-user-shield text-warning"></i> {% trans "Change Stance" %}<br>
                        <small>{% trans 'Movement' %}</small>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12 col-xl-3">
        <div class="row">
            <div class="col-md-6 col-xl-12">
                <table class="table">
                    <tr>
                        <td>{% trans 'Actions' %}</td>
                        <td class="text-end">{% color_value_span object.actions 6 %}</td>
                    </tr>
                    {% for skill in object.characterskill_set.combat_skills %}
                        <tr>
                            <td>{{ skill.skill }}</td>
                            <td class="text-end">{% color_value_span skill.value 6 %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>{% trans 'Quickness' %}</td>
                        <td class="text-end">{% color_value_span object.quickness 6 %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

