{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}

    <div class="row">
        <div class="col-md-6">
            <div>
                {% if may_edit %}
                    <a
                            class="btn btn-primary btn-sm float-end modal-trigger"
                            data-url="{% url 'characters:xhr_add_riot_gear' pk=object.id %}"
                            data-bs-toggle="modal"
                            data-bs-target=".character-modal"
                            data-modal-title="{% trans 'Add Armor' %}"
                            href=""><i class="fas fa-plus"></i></a>
                {% endif %}
                <h2 class="mb-2 h4">{% trans 'Armor' %}</h2>
            </div>

            {% for r in character.characterriotgear_set.all %}
                <div class="card mb-4 sidebar-trigger" data-sidebar-title="{{ r.riot_gear }}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=r.id model_name="CharacterRiotGear" sidebar_name="characterriotgear" %}">
                    <div class="card-header">
                        {{ r.riot_gear }}
                        <span class="float-end">{% color_value_span r.condition 100 %}%</span>
                    </div>
                    <div class="card-body">
                        <i class="fas fa-shield-alt fa-fw"></i> {% trans 'Protection' %}: {% color_value_span r.riot_gear.protection_ballistic 3 %}<br>
                        <i class="fas fa-running fa-fw"></i> {% trans 'Evasion' %}: {% color_value_span r.riot_gear.evasion 7 %}
                    </div>
                    <div class="card-footer">
                        <i class="fas fa-eye-slash fa-fw" title="{% trans 'Concealment' %}"></i> {% color_value_span r.riot_gear.concealment 6 invert=True %}
                        <i class="fas fa-balance-scale fa-fw ms-1" title="{% trans 'Weight' %}"></i> {{ r.riot_gear.weight }}
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:armory_riotgear_change' r.riot_gear.id %}" style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                {% if may_edit %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <a
                                    class="modal-trigger"
                                    data-url="{% url 'characters:xhr_add_riot_gear' pk=object.id %}"
                                    {% if may_edit %}
                                    data-bs-toggle="modal"
                                    {% endif %}
                                    data-bs-target=".character-modal"
                                    data-modal-title="{% trans 'Add Armor' %}"
                                    href="">{% trans 'No armor yet.' %}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div>
                {% if may_edit %}
                    <a
                            class="btn btn-primary btn-sm float-end modal-trigger"
                            data-url="{% url 'characters:xhr_add_weapons' pk=object.id %}"
                            data-bs-toggle="modal"
                            data-bs-target=".character-modal"
                            data-modal-title="{% trans 'Add Weapon' %}"
                            href=""><i class="fas fa-plus"></i></a>
                {% endif %}
                <h2 class="mb-2 h4">{% trans 'Weapons' %}</h2>
            </div>

            {% for weapon in object.characterweapon_set.all %}
                <div class="card mb-4 sidebar-trigger" data-sidebar-title="{{ weapon.weapon }}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=weapon.id model_name="CharacterWeapon" sidebar_name="characterweapon" %}">
                    <div class="card-header">
                        {{ weapon.weapon }} <span class="small text-muted">{{ weapon.weapon.type }}</span>
                        <span class="float-end">{% color_value_span weapon.condition 100 %}%</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <i class="fas fa-angle-double-right fa-fw"></i> {% trans 'Penetration' %}: {% color_value_span weapon.weapon.penetration 4 %} {% display_modifications weapon 'penetration' %}<br>
                                <i class="fas fa-heart fa-fw"></i> {% trans 'Bonus wounds' %}: {% color_value_span weapon.weapon.wounds 4 %} {% display_modifications weapon 'wounds' %}<br>
                                <i class="fas fa-dice-five fa-fw"></i> {% trans 'Bonus dice' %}: {% color_value_span weapon.weapon.bonus_dice 4 %} {% display_modifications weapon 'bonus_dice' %}<br>
                                {% if weapon.has_capacity %}
                                    <i class="fas fa-clock fa-fw"></i> {% trans 'Reload actions' %}: {% color_value_span weapon.weapon.reload_actions 6 invert=True %} {% display_modifications weapon 'reload_actions' %}<br>
                                    <i class="fas fa-list-ol fa-fw"></i> {% trans 'Capacity' %}: {% color_value_span weapon.weapon.capacity 30 %} {% display_modifications weapon 'capacity' %}<br>
                                {% endif %}
                                <i class="fas fa-arrows-alt-h fa-fw"></i> {% trans 'Range' %}: {{ weapon.weapon.range_meter }}m {% display_modifications weapon 'range_meter' %}<br>
                                <br>
                                {% if weapon.weapon.weaponattackmode_set.exists %}
                                    {% for fm in weapon.weapon.weaponattackmode_set.all %}{{ fm.attack_mode.name }} +{% color_value_span fm.dice_bonus 6 %} {% display_modifications weapon 'bonus_dice' %} <i class="fas fa-dice-five"></i><br>{% endfor %}
                                {% endif %}

                                {% if weapon.modifications.exists %}
                                    <div class="row mt-3">
                                        {% for wm in weapon.modifications.all %}
                                            <div class="col-6">
                                                <div class="card mb-2">
                                                    <div class="card-header">
                                                        <i class="fas fa-puzzle-piece"></i>
                                                        {{ wm }}
                                                    </div>
                                                    <div class="card-body">
                                                        {% for wma in wm.weaponmodificationattributechange_set.all %}
                                                            {{ wma.get_attribute_display|capfirst }} +{% color_value_span wma.attribute_modifier 4 %}<br>
                                                        {% endfor %}
                                                        {% for wma in wm.weaponmodificationattributechange_set.all %}
                                                            {% if wma.status_effect %}
                                                                {{ wma.status_effect|capfirst }} <i class="{{ wma.status_effect.fa_icon_class }}"></i> {% color_value_span wma.status_effect_value 4 %}<br>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="card-footer">
                                                        <a
                                                                class="action-link btn btn-outline-secondary btn-sm float-end"
                                                                data-url="{% url 'characters:xhr_add_weapon_modifications' pk=object.id %}?weapon_id={{ weapon.id }}"
                                                                title="{% trans 'Remove Modification' %}"
                                                                href="{% url 'characters:xhr_remove_weapon_modification' pk=object.id weapon_pk=weapon.id weapon_modification_pk=wm.id %}">
                                                            <i class="fas fa-minus text-danger"></i> {% trans 'Remove' %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i class="fas fa-eye-slash fa-fw" title="{% trans 'Concealment' %}"></i> {% color_value_span weapon.weapon.concealment 7 invert=True %} {% display_modifications weapon 'concealment' %}
                        <i class="fas fa-balance-scale fa-fw" title="{% trans 'Weight' %}"></i> {{ weapon.weapon.weight }} {% display_modifications weapon 'weight' %}<br>
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:armory_weapon_change' weapon.weapon.id %}" style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                {% if may_edit %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <a
                                    class="modal-trigger"
                                    data-url="{% url 'characters:xhr_add_weapons' pk=object.id %}"
                                    {% if may_edit %}
                                    data-bs-toggle="modal"
                                    {% endif %}
                                    data-bs-target=".character-modal"
                                    data-modal-title="{% trans 'Add Weapon' %}"
                                    href="">{% trans 'No weapon yet.' %}</a>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-6">
            <div>
                {% if may_edit %}
                    <a
                            class="btn btn-primary btn-sm float-end modal-trigger"
                            data-url="{% url 'characters:xhr_add_items' pk=object.id %}"
                            title="{% trans 'Add Item' %}"
                            data-bs-toggle="modal"
                            data-modal-title="{% trans 'Add item' %}"
                            data-bs-target=".character-modal"
                            href=""><i class="fa fa-plus"></i></a>
                {% endif %}
                <h2 class="mb-2 h4">{% trans 'Items' %}</h2>
            </div>

        {% for ci in character.characteritem_set.by_type %}
            <div class="card mb-3 sidebar-trigger" data-sidebar-title="{{ ci.item }}" data-sidebar-url="{% url 'characters:xhr_detail_sidebar' pk=ci.id model_name="CharacterItem" sidebar_name="characteritem" %}">
                <div class="card-header">
                   {% if ci.quantity > 1 %}{% color_value_span ci.quantity 10 %}x {% endif %} {{ ci.item }}
                    <span class="small text-muted">{{ ci.item.type }}</span>
                    {% if ci.item.concealment > 0 %}
                        <span class="float-end">
                        <i class="fas fa-eye-slash fa-fw" title="{% trans 'Concealment' %}"></i> {% color_value_span ci.item.concealment 6 invert=True %}
                        </span>
                    {% endif %}
                </div>
                {% if ci.item.description %}
                <div class="card-body d-none">
                   <p class="mb-0">{{ ci.item.description }}</p>
                </div>
                {% endif %}
                <div class="card-footer d-none">
                    <i class="fas fa-eye-slash fa-fw" title="{% trans 'Concealment' %}"></i> {% color_value_span ci.item.concealment 6 invert=True %}
                    <i class="fas fa-balance-scale fa-fw ms-1" title="{% trans 'Weight' %}"></i> {{ ci.item.weight }}
                    {% if user.is_superuser %}
                        <a href="{% url 'admin:armory_item_change' ci.item.id %}" style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="card">
                <div class="card-body">
                    <a
                            class="modal-trigger"
                            data-url="{% url 'characters:xhr_add_items' pk=object.id %}"
                            title="{% trans 'Add Item' %}"
                            {% if may_edit %}
                            data-bs-toggle="modal"
                            {% endif %}
                            data-modal-title="{% trans 'Add item' %}"
                            data-bs-target=".character-modal"
                            href="">{% trans 'No items yet.' %}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
