{% extends 'base.html' %}
{% load i18n static thumbnail characters_extras %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'campaigns:create' %}" class="btn btn-primary btn-lg float-end mb-2">{% trans 'Create a campaign' %}</a>
        </div>
    </div>
    <div class="row character-list">
        {% for object in object_list %}
            <div class="col-12">
                <h1 class="text-center mb-3">- {% trans 'Your campaigns' %} -</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-6 mb-3">
                <a href="{{ object.get_absolute_url }}">
                    <div class="card campaign-list-item" style="
                            background-size: 100%;
                            {% if object.backdrop_image %}
                                {% thumbnail object.backdrop_image "x800" as im %}
                                    background-image: url({{ im.url }})
                                {% endthumbnail %}
                            {% else %}
                                {% if object.epoch.image %}
                                    {% thumbnail object.epoch.image "x800" as im %}
                                        background-image: url({{ im.url }})
                                    {% endthumbnail %}
                                {% else %}
                                    background-color: silver
                                {% endif %}
                            {% endif %}
                            ">
                        <div class="card-body text-center">
                            {% if object.image %}
                                {% thumbnail object.image "120x120" crop="center" as im %}
                                    <img
                                            class="img-fluid rounded float-start me-3"
                                            src="{{ MEDIA_URL }}{{ im.url }}"
                                            alt="{{ object.name }}">
                                {% endthumbnail %}
                            {% endif %}
                            <h3>{{ object.name }}</h3>
                            <small>{{ object.epoch }}</small><br>
                            {% trans 'GM' %}: {{ object.created_by|default:"" }}<br>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
