{% extends 'base.html' %}
{% load i18n thumbnail static rules_extras %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block belownav %}
    <div
            class="row campaign-info-row"
            style="
                    {% if object.backdrop_image %}
                        background-image: url({{ object.backdrop_image.url }})
                    {% else %}
                        {% if object.epoch.image %}
                            background-image: url({{ object.epoch.image.url }})
                        {% else %}
                            background-color: silver
                        {% endif %}
                    {% endif %}">
        <div class="col-md-10 offset-md-1 info mt-4">
            <a href="{{ object.get_invite_link }}" class="btn btn-primary float-end">{% trans 'Invite Link' %}</a>
            <h1>{{ object.name }}</h1>
            {% trans 'A campaign by' %} {{ object.created_by }}
            <p>
                {{ object.abstract|urpg_markup }}
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mt-4">

        <div class="col-lg-2 col-md-3">
            <div class="nav flex-column nav-pills mb-2" aria-orientation="vertical">
                <a class="nav-link {% if active_tab == 'detail' %}active{% endif %}" href="{% url 'campaigns:detail' pk=object.id %}">
                    <i class="fas fa-fw fa-people-carry"></i>&nbsp;{% trans 'Players' %}
                </a>

            {% if active_tab == 'invitation' %}
                <a class="nav-link active" href="">
                    <i class="fas fa-fw fa-people-carry"></i>&nbsp;{% trans 'Join Campaign' %}
                </a>
            {% endif %}

            {% if may_edit %}
                <a class="nav-link {% if active_tab == 'update' %}active{% endif %}" href="{% url 'campaigns:update' pk=object.id %}">
                    <i class="fas fa-fw fa-edit"></i>&nbsp;{% trans 'Edit' %}
                </a>
                <a class="nav-link {% if active_tab == 'scenes' %}active{% endif %}" href="{% url 'campaigns:scenes' pk=object.id %}">
                    <i class="fas fa-fw fa-cube"></i>&nbsp;{% trans 'Scenes' %}
                </a>
            {% endif %}
            </div>
        </div>

        <div class="col-lg-10 col-md-9">
            {% block campaign_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
