{% load i18n characters_extras rules_extras %}
<div class="card mb-3 template">
    <div class="card-header text-center {{ template.category.get_bg_color_class }} {{ template.category.get_fg_color_class }}">
        <span class="float-start">
            {% for e in template.extensions.all %}
                <i class="{{ e.fa_icon_class }}" title="{{ e }}"></i>
            {% endfor %}
        </span>
        <span>{{ template.category }}: {{ template }}</span>
        <span class="badge bg-dark float-end">{{ template.cost }}</span>
    </div>
    <div class="card-body">
            {% if template.rules %}
                <p>{{ template.rules|urpg_markup }}</p>
            {% endif %}

            {% for mod in template.templatemodifier_set.all %}
                {% if mod.attribute %}
                    <i class="fas fa-asterisk" title="{% trans 'Attribute' %}"></i> {{ mod.get_attribute_display|capfirst }} {% color_value_span mod.attribute_modifier 3 algebraic_sign=True %}<br>
                {% endif %}
            {% endfor %}
            {% for mod in template.templatemodifier_set.all %}
                {% if mod.skill %}
                    <i class="fas fa-hand-scissors" title="{% trans 'Skill' %}"></i> {{ mod.skill }} {% color_value_span mod.skill_modifier 3 algebraic_sign=True %}<br>
                {% endif %}
            {% endfor %}
            {% for mod in template.templatemodifier_set.all %}
                {% if mod.knowledge %}
                    <i class="fas fa-book" title="{% trans 'Knowledge' %}"></i> {{ mod.knowledge }} {% color_value_span mod.knowledge_modifier 3 algebraic_sign=True %}<br>
                {% endif %}
            {% endfor %}
            {% for mod in template.templatemodifier_set.all %}
                {% if mod.shadow %}
                    <i class="fas fa-bullhorn" title="{% trans 'Shadow' %}"></i> {{ mod.shadow }}<br>
                {% endif %}
            {% endfor %}
            {% if template.templaterequirement_set.exists %}
                <br>
                {% for req in template.templaterequirement_set.all %}
                    <span class="text-danger">{% trans 'Requires' %}</span> {{ req.required_template }}<br>
                {% endfor %}
            {% endif %}

            {% if template.quote %}
                <p class="text-muted pt-3"><i>{{ template.quote }}{% if template.quote_author %}<br>- {{ template.quote_author }}{% endif %}</i></p>
            {% endif %}
            {% if user.is_superuser %}
            <a href="{% url 'admin:rules_template_change' template.id %}" style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
            {% endif %}
    </div>
</div>
