{% load i18n rules_extras %}
<div class="card h-100">
    <div class="card-header">
        {{ header }}
    </div>
    <ul class="list-group">
        {% for d in objects.items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="" data-bs-toggle="modal" data-bs-target="#info-modal">{{ d.0 }}</a>
                <span class="badge bg-secondary">
                    {% if d.1.0 != 999 and d.1.0 != -999 %}
                        {{ d.1.0 }}
                    {% else %}
                        n/a
                    {% endif %}
                </span>
                <div class="d-none">
                    {% for t in d.1.1 %}
                        {% template_widget t %}
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
