@import 'bootswatch/cyborg/variables';
@import '../bootstrap/scss/bootstrap.scss';
@import 'bootswatch/cyborg/bootswatch';

.pointer {
  cursor: pointer;
}

.index-lead {
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
}

a[data-toggle="popover"] {
  cursor: pointer;
}

.color-p80 {
  color: #47C040;
  font-weight: bold;
}

.color-p60 {
  color: #9EC040;
  font-weight: bold;
}

.color-p40 {
  color: #A7C040;
  font-weight: bold;
}

.color-p20 {
  color: #C0BC40;
  font-weight: bold;
}

.color-p0 {
  color: #ECA935;
  font-weight: bold;
}

.color-n0 {
  color: #ECA935;
  font-weight: bold;
}

.color-n20 {
  color: #EC7735;
  font-weight: bold;
}

.color-n40 {
  color: #EC5E35;
  font-weight: bold;
}

.color-n60 {
  color: #EC4D35;
  font-weight: bold;
}

/* Touch Menus */

.touch-menu:hover {
  cursor: pointer;
  border-color: silver;
  filter: drop-shadow(0 0 20px black);

}

/* Character creation */

.create-epoch-card {
  height: 30vh;
  position: relative;
}

.create-epoch-card:hover {
  border: 1px solid $primary;
}

.create-epoch-card.selected {
  border: 2px solid $success;
}

.create-epoch-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}

.constructed-template {
  cursor: pointer;
}

.constructed-template.disabled div.card {
  opacity: 0.2;
  cursor: not-allowed;
}

.constructed-template.selected div.card {
  border: 2px solid $success;
}

.constructed-template.notenoughpoints div.card {
  background-color: #600;
}

.no-decoration {
  text-decoration: none;
}

/* Tables */

.table th {
  border-top: none;
}

/* Rules */

@media only screen and (min-width: 600px) {
  .rules .columns {
    column-count: 2;
  }
}

.rules .columns {
  column-gap: 2em;
}

.rules p:empty {
  display: none;
}

.rules p {
  text-align: justify;
}

.rules blockquote {
  margin-left: 2em;
  padding-left: 1em;
  color: #888;
  border-left: 2px solid silver;
}

.rules h3 {
  font-size: calc(1rem + 1.5vw)
}

/* Sidebar */

.sidebar-trigger {
  cursor: pointer;
}

.sidebar {
  top: 0;
  width: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-right {
  right: 0;
}

/* Scroll only modal body */

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

/* Fixed head table */

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 60px;
}

.table-hover-tr tr:hover td {
  background-color: silver;
}

/* Nav and Info */

.default-belownav {
  padding-top: 75px;
}

.campaign-info-row {
  color: white;
  background-position: center;
  background-size: cover;
  padding-top: 75px;
  height: 400px;
}

.character-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.character-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.character-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.campaign-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.campaign-info-row .info {
  text-shadow: 2px 2px #000;
}

.character-info-row {
  color: white;
  background-position: center;
  background-size: cover;
  padding-top: 75px;
}

.character-info-row img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.character-info-row h1 {
  text-shadow: 2px 2px #000;
}

.character-info-row h3 {
  text-shadow: 2px 2px #000;
}

.character-info-row span {
  text-shadow: 1px 1px #000;
}

.character-list a {
  text-decoration: none;
}

/* Magic */

.add-spell-spell-type-card {
  height: 45vh;
  position: relative;
}

.add-spell-spell-type-card:hover {
  border: 1px solid $primary;
}

.add-spell-spell-type-card.selected {
  border: 2px solid $success;
}

.add-spell-spell-type-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}

.spell-selection-card:not(.disabled):hover {
  border: 1px solid $primary;
}

.spell-selection-card.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

