{% load characters_extras rules_extras i18n %}

{% if may_edit %}
    <div class="row">
        {% if object.weapon.weaponattackmode_set.exists and object.has_capacity %}
            {% for fm in object.attack_modes %}
                <div class="col-12">
                    <div class="btn-group w-100">
                        <a class="btn btn-outline-dark btn-sm action-link mb-1"
                           href="{% url 'characters:attack' characterweapon_pk=object.id weapon_attackmode_pk=fm.2 %}">
                            {% trans 'Attack:' %} {{ fm.0 }}
                            {% color_value_span fm.1 8 %} <i class="fas fa-dice-five"></i></a>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                <div class="btn-group w-100">
                    <a class="btn btn-outline-dark btn-sm action-link mb-1"
                       href="{% url 'characters:reload' characterweapon_pk=object.id %}"><i
                            class="fas fa-redo fa-fw text-info"></i> {% trans 'Reload' %}</a>
                </div>
            </div>
        {% endif %}

        <div class="col-12">
            <div class="btn-group w-100">
                <a class="btn btn-outline-dark btn-sm action-link"
                   href="{% url 'characters:xhr_weapon_condition' pk=object.character.id weapon_pk=object.id mode="damage" %}"><i
                        class="fas fa-times fa-fw text-warning"></i> {% trans 'Damage' %}</a>
                <a class="btn btn-outline-dark btn-sm action-link"
                   href="{% url 'characters:xhr_weapon_condition' pk=object.character.id weapon_pk=object.id mode="repair" %}"><i
                        class="fas fa-wrench fa-fw text-success"></i> {% trans 'Repair' %}</a>
            </div>
        </div>

        <div class="col-12">
            <div class="btn-group w-100">
                {% has_valid_weaponmodifications object.weapon object.character as has_valid_wm %}
                {% if has_valid_wm %}
                    <a
                            class="btn btn-outline-dark btn-sm modal-trigger close-sidebar mt-1"
                            data-url="{% url 'characters:xhr_add_weapon_modifications' pk=object.character.id %}?weapon_id={{ object.id }}"
                            data-bs-toggle="modal"
                            data-bs-target=".character-modal"
                            data-modal-title="{% trans 'Add Modification' %}"
                            href=""><i class="fas fa-plus text-info"></i> {% trans 'Add Modification' %}</a>
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <div class="btn-group w-100">
                <a class="btn btn-outline-dark btn-sm action-link close-sidebar mt-1"
                   href="{% url 'characters:xhr_remove_weapon' pk=object.character.id weapon_pk=object.id %}"><i
                        class="fas fa-trash text-danger"></i> {% trans 'Remove' %}</a>
            </div>
        </div>
    </div>
{% endif %}

<div class="row mt-4">
    <div class="col-12">
        <h4 class="text-center">{% trans 'Stats' %}</h4>
        <div class="card mb-2 mt-2">
            <ul class="list-group list-group-flush">
                {% if object.has_capacity %}
                    <li class="list-group-item">
                        <i class="fas fa-angle-double-right fa-fw"></i>
                        {% trans 'Capacity' %}
                        <span class="float-end">{% color_value_span object.capacity_available object.weapon.capacity %} / {% color_value_span object.modified_capacity object.weapon.capacity %}</span>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <i class="fas fa-angle-double-right fa-fw"></i>
                    {% trans 'Penetration' %}
                    <span class="float-end">{% color_value_span object.weapon.penetration 4 %} {% display_modifications object 'penetration' %}</span>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-heart fa-fw"></i>
                    {% trans 'Bonus wounds' %}
                    <span class="float-end">{% color_value_span object.weapon.wounds 4 %} {% display_modifications object 'wounds' %}</span>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-dice-five fa-fw"></i>
                    {% trans 'Bonus dice' %}
                    <span class="float-end">{% color_value_span object.weapon.bonus_dice 4 %} {% display_modifications object 'bonus_dice' %}</span>
                </li>
                {% if not object.weapon.is_hand_to_hand_weapon %}
                    <li class="list-group-item">
                        <i class="fas fa-clock fa-fw"></i>
                        {% trans 'Reload actions' %}
                        <span class="float-end">{% color_value_span object.weapon.reload_actions 6 invert=True %} {% display_modifications object 'reload_actions' %}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-list-ol fa-fw"></i>
                        {% trans 'Capacity' %}
                        <span class="float-end">{% color_value_span object.weapon.capacity 30 %} {% display_modifications object 'capacity' %}</span>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <i class="fas fa-arrows-alt-h fa-fw"></i>
                    {% trans 'Range' %}
                    <span class="float-end">{{ object.weapon.range_meter }}m {% display_modifications object 'range_meter' %}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

{% if object.weapon.weaponattackmode_set.exists %}
    <div class="row mt-4">
        <div class="col-12">
            <h4 class="text-center">{% trans 'Attack Modes' %}</h4>
            <div class="card mb-2 mt-2">
                <ul class="list-group list-group-flush">
                    {% for fm in object.weapon.weaponattackmode_set.all %}
                        <li class="list-group-item">
                            <i class="fas fa-angle-double-right fa-fw"></i>
                            {{ fm.attack_mode.name }}
                            <span class="float-end">+{% color_value_span fm.dice_bonus 6 %} {% display_modifications object 'bonus_dice' %} <i
                                    class="fas fa-dice-five"></i></span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% if object.modifications.exists %}
    <div class="row mt-4">
        <div class="col-12">
            <h4 class="text-center">{% trans 'Modifications' %}</h4>
            {% for wm in object.modifications.all %}
                <div class="card mb-2">
                    <div class="card-header">
                        <i class="fas fa-puzzle-piece"></i>
                        {{ wm }}
                    </div>
                    <div class="card-body">
                        {% for wma in wm.weaponmodificationattributechange_set.all %}
                            {{ wma.get_attribute_display|capfirst }} +{% color_value_span wma.attribute_modifier 4 %}
                            <br>
                        {% endfor %}
                        {% for wma in wm.weaponmodificationattributechange_set.all %}
                            {% if wma.status_effect %}
                                {{ wma.status_effect|capfirst }} <i class="{{ wma.status_effect.fa_icon_class }}"></i>
                                {% color_value_span wma.status_effect_value 4 %}<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <a
                                class="action-link btn btn-outline-secondary btn-sm float-end"
                                data-url="{% url 'characters:xhr_add_weapon_modifications' pk=object.id %}?weapon_id={{ weapon.id }}"
                                title="{% trans 'Remove Modification' %}"
                                href="{% url 'characters:xhr_remove_weapon_modification' pk=object.character.id weapon_pk=object.id weapon_modification_pk=wm.id %}">
                            <i class="fas fa-minus text-danger"></i> {% trans 'Remove' %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
