{% load i18n characters_extras %}

<script>
    $(function(){
        $('.add-form').on('submit', function(e){
            var form = $(this);
            var btn = form.find('button');
            var original_btn_html = btn.html();

            btn.text(btn.data('msg'));
            btn.addClass('btn-success');

            setTimeout(function () {
                btn.html(original_btn_html);
                btn.removeClass('btn-success');
            }, 1000);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize()
            });
            e.preventDefault();
            return false;
        });
    })
</script>


<div>
    <ul class="nav nav-tabs" role="tablist">
        {% for t in weapon_modification_types %}
            {% weaponmodification_type_valid_for_weapon t weapon.weapon as wmt %}
            {% if wmt %}
                <li class="{% if forloop.first %}active{% endif %} nav-item">
                    <a class="nav-link" href="#i{{ t.id }}" aria-controls="home" role="tab" data-bs-toggle="tab">{{ t }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for t in weapon_modification_types %}
            {% weaponmodification_type_valid_for_weapon t weapon.weapon as wmt %}
            {% if wmt %}
                <div role="tabpanel" class="tab-pane {% if forloop.first %} active {% endif %}" id="i{{ t.id }}">
                    <div class="row">
                        {% for wm in t.weaponmodification_set.all|for_extensions:character.extensions %}
                            {% if weapon.weapon.type in wm.available_for_weapon_types.all %}
                                <div class="col-lg-6 mt-3">
                                    <div class="card match-height">
                                        <div class="card-header">
                                            {{ wm }}
                                        </div>
                                        <div class="card-body">
                                            {% for wma in wm.weaponmodificationattributechange_set.all %}
                                                {{ wma.get_attribute_display|capfirst }}: {{ wma.get_modifier_display }}<br>
                                            {% endfor %}
                                            {% for wma in wm.weaponmodificationattributechange_set.all %}
                                                {% if wma.status_effect %}
                                                    {{ wma.status_effect|capfirst }} <i class="{{ wma.status_effect.fa_icon_class }}"></i> {% color_value_span wma.status_effect_value 4 %}<br>
                                                {% endif %}
                                            {% endfor %}
                                            <form action="{% url 'characters:add_weapon_modification' pk=character.id weapon_modification_pk=wm.id weapon_pk=weapon.id %}" class="float-end add-form" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-sm btn-primary float-end" data-msg="{% trans 'Added' %}">{% trans 'Add modification' %}</button>
                                            </form>
                                            {% if user.is_superuser %}
                                                <a href="{% url 'admin:armory_weaponmodification_change' wm.id %}" style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
