{% load characters_extras rules_extras i18n thumbnail %}

<script>
    $(function(){

        function checkSpellCosts(remaining_spell_points) {
            $('.spell-selection-card').each(function(idx){
                let elem = $(this)
                if(parseInt(elem.data('spell-point-cost'), 10) > remaining_spell_points){
                    elem.addClass('disabled');
                } else {
                    elem.removeClass('disabled');
                }
            })
        }
        checkSpellCosts($('#initial-spell-points').data('initial-spell-points'))

        $('.add-spell-spell-type-card').on('click', function(e){
            let type_id = $(this).data('type-id')
            $('.type-selection').css('display', 'none')
            $(`#spell-selection-${type_id}`).css('display', 'block')
            $(`#spell-selection-${type_id}`)
                .find('.masonry-container')
                .masonry({percentPosition: true})
        })

        $('.back-to-school').on('click', function(e){
            $('.spell-selection').css('display', 'none')
            $('.type-selection').css('display', 'block')

        })

        $('.spell-selection-card').on('click', function(){
            let elem = $(this)
            if(!elem.hasClass('disabled')) {
                if(confirm(elem.data('select-message'))){
                    $.post(
                        elem.data('add-url'),
                        {
                            operation: 'add-spell',
                            spell_id: elem.data('spell-id')
                        },
                        function(data) {
                            if(data.status === 'ok') {
                                checkSpellCosts(data.remaining_spell_points)
                            }
                        }
                    )

                }
            }

        })
    })
</script>

<div class="d-none" id="initial-spell-points" data-initial-spell-points="{{ character.spell_points_available }}"></div>
<div class="container type-selection">
    <div class="row">
        <div class="col-12 text-center">
            <h3>{% trans 'Choose a school' %}</h3>
        </div>
    </div>
    <div class="row">
        {% for t in spell_types %}
            {% thumbnail t.image "1024" as img %}
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card text-center add-spell-spell-type-card pointer mb-4" data-type-id="{{ t.id }}">
                    <div class="card-body" style="background-image: url({{ img.url }}); background-size: cover">
                        <div class="card-text w-100 p-5">
                            <h5 class="text-center p-0 m-i0">{{ t }}</h5>
                            <small class="text-center">{{ t.dominant_attribute_name|capfirst }}</small> +
                            <small class="text-center">{{ t.supplemental_attribute_name|capfirst }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endthumbnail %}
        {% endfor %}
    </div>
</div>

{% for t in spell_types %}
    <div class="container spell-selection" id="spell-selection-{{ t.id }}" style="display: none">
        <div class="row">
            <div class="col-12 text-center">
                <h4>{% trans 'Choose a spell' %}</h4>
                <small class="back-to-school pointer"><<< {% trans 'Choose another school' %}</small>
            </div>
        </div>
        <div class="row masonry-container" data-masonry='{"percentPosition": true }'>
            {% for s in t.basespell_set.all %}
                <div class="col-12 col-lg-6 col-xl-4">
                    <div
                            class="card spell-selection-card pointer mt-3"
                            data-select-message="{% blocktrans with t_spell=s.name t_cost=s.spell_point_cost %}Add spell {{ t_spell }} for {{ t_cost }} spell points?{% endblocktrans %}"
                            data-spell-id="{{ s.id }}"
                            data-add-url="{% url 'characters:xhr_add_spell' pk=character.id %}"
                            data-spell-point-cost="{{ s.spell_point_cost }}">
                        <div class="card-header">
                            <span class="badge bg-dark float-end">{{ s.spell_point_cost }}</span>
                            {{ s }} <small class="text-muted">{{ s.variant }}</small>
                        </div>
                        <div class="card-body">
                            {% if s.is_ritual %}
                                <span class="text-muted text-center">{% trans 'Ritual' %}</span>
                            {% endif %}
                            <p>
                                {{ s.rules }}
                            </p>
                            <i class="fas fa-dice-five fa-fw"></i> {% trans 'Attribute' %}: {{ s.type.dominant_attribute_name|capfirst }}<br>
                            <i class="fas fa-magic fa-fw"></i> {% trans 'Arcana' %}:
                            {% for a in s.arcana_cost|to_range %}<i class="fas fa-magic text-warning" ></i>{% endfor %}<br>
                            <i class="fas fa-bolt fa-fw"></i> {% trans 'Power' %}: {% color_value_span s.power 4 %}<br>
                            <i class="fas fa-arrows-alt-h fa-fw"></i> {% trans 'Range' %}: {% color_value_span s.range 4 %}<br>
                            <i class="fas fa-hourglass fa-fw"></i> {% trans 'Actions' %}: {% color_value_span s.actions 3 invert=True %}<br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}