{% load i18n characters_extras rules_extras %}

<script>
    $(function(){
        $('.add-form').on('submit', function(e){
            var form = $(this);
            var btn = form.find('button');
            var original_btn_html = btn.html();

            btn.text(btn.data('msg'));
            btn.addClass('btn-success');

            setTimeout(function () {
                btn.html(original_btn_html);
                btn.removeClass('btn-success');
            }, 1000);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize()
            });
            e.preventDefault();
            return false;
        });
    })
</script>


<div class="row">
{% for r in riot_gear %}
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-header">
                    <i class="{{ r.extension.fa_icon_class }}" title="{{ r.extension }}"></i>
                    {{ r }}
                </div>
                <div class="card-body">
                    <i class="fas fa-shield-alt fa-fw"></i> {% trans 'Protection' %}: {% color_value_span r.protection_ballistic 3 %}<br>
                    <i class="fas fa-running fa-fw"></i> {% trans 'Evasion' %}: {% color_value_span r.evasion 3 %}<br>
                    <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}: {% color_value_span r.concealment 6 invert=True %}<br>
                    <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}: {{ r.weight }}<br>
                    <form action="{% url 'characters:add_riot_gear' pk=character.id riot_gear_pk=r.id %}" method="post" class="float-end add-form">
                        {% csrf_token %}
                        <input type="hidden" name="riot_gear_id" value="{{ r.id }}">
                        <button type="submit" class="btn btn-primary btn-sm float-end" data-msg="{% trans 'Added' %}">
                            {% trans 'Add riot gear' %}
                        </button>
                    </form>
                    {% if user.is_superuser %}
                        <a href="{% url 'admin:armory_riotgear_change' r.id %}" style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
{% endfor %}
</div>
