{% load bootstrap4 i18n rules_extras characters_extras %}

<script>
    $(function(){

        function checkReputationCosts(remaining_reputation) {
            $('.constructed-template').each(function(idx){
                let elem = $(this);
                if(parseInt(elem.data('reputation-cost'), 10) > remaining_reputation){
                    elem.addClass('disabled');
                } else {
                    elem.removeClass('disabled');
                }
            })
        }
        checkReputationCosts($('#reputation').data('initial-reputation'));

        $('.constructed-template').on('click', function(e){
            let elem = $(this);
            if(!elem.hasClass('disabled')) {
                if(confirm(elem.data('select-message'))) {
                    $.post(
                        elem.data('add-url'),
                        {
                            operation: 'add-template',
                            template_id: elem.data('template-id')
                        },
                        function(data) {
                            if(data.status === 'ok') {
                                elem.hide('slow');
                                checkReputationCosts(data.remaining_reputation);
                            } else {

                            }
                        }
                    )
                }
            }
        });
    })
</script>

<ul class="nav nav-tabs" role="tablist"  id="reputation" data-initial-reputation="{{ object.reputation_available }}">
    <li class="nav-item">
        {% for tp in template_points %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" href="#tp{{ tp.id }}" id="tab{{ tp.id }}">
                    {{ tp.template_category }}
                </a>
            </li>
        {% endfor %}
    </li>
</ul>

<div class="tab-content">
    {% for tp in template_points %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tp{{ tp.id }}" data-rel="#tab{{ tp.id }}">
            <div class="row">
                {% for i in tp.template_category.template_set.all %}
                    {% has_extensions i object.extensions.all as has_ext %}
                    {% if has_ext and not i.id in character_template_ids %}
                        <div class="col col-md-6 constructed-template"
                             data-select-message="{% trans 'Select Template for Reputation?' %}"
                             data-reputation-cost="{{ i.cost }}"
                             data-template-id="{{ i.id }}"
                             data-tp-id="{{ tp.id }}"
                             data-add-url="{% url 'characters:xhr_reputation' pk=object.id %}">
                            {% template_widget i %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>