{% load i18n characters_extras %}

<div class="row">
    <div class="col-md-10 offset-md-2 pt-5">
        <p>
            {% blocktrans %}
                Take a rest to refresh your health and endurance. The number of wounds healed
                depends on the length of the rest.
            {% endblocktrans %}
        </p>
        <input
                id="rest-hours-input"
                type="number"
                max="10"
                min="3"
                value="3"
                data-slider-value="3"
                data-slider-ticks="[3, 4, 5, 6, 7, 8, 9, 10]"
                data-slider-ticks-labels='["3", "4", "5", "6", "7", "8", "9", "10"]'>
        <br>
        <button class="btn btn-primary rest-button">{% trans 'Take a rest' %}</button>
        <br>
        <div class="rest-results mt-4">
            {% for i in object.bonus_dice|to_range %}
                <span data-val="3"><i class="fas fa-dice-six fa-4x text-success" data-bs-toggle="popover" data-bs-trigger="hover" data-html="true" title="{% trans 'Bonus Dice' %}" data-bs-content="{% trans 'Add bonus dice to any roll in the game, or use them to create an additional action in combat at any time.<br><br>Bonus dice are expended on use and refresh at any rest.' %}"></i></span>
            {% endfor %}
            {% for i in object.rerolls|to_range %}
                <span data-val="3"><i class="fas fa-dice-six fa-4x text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-html="true" title="{% trans 'Rerolls' %}" data-bs-content="{% trans 'Use a reroll to roll any rolled die.<br><br>Rerolls are expended on use and refresh at any rest.' %}"></i></span>
            {% endfor %}
            <span data-val="3"><i class="fas fa-heart fa-4x text-info"></i></span>
            {% if object.extension_enabled.horror %}
                <span class="d-none" data-val="4"><i class="far fa-meh fa-4x text-warning"></i></span>
            {% endif %}
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="4"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
            <span class="d-none" data-val="5"><i class="fas fa-heart fa-4x text-danger"></i></span>
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="6"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
            {% if object.extension_enabled.horror %}
                <span class="d-none" data-val="7"><i class="far fa-meh fa-4x text-warning"></i></span>
            {% endif %}
            <span class="d-none" data-val="8"><i class="fas fa-heart fa-4x text-info"></i></span>
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="8"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
            {% for i in object.destiny_dice|to_range %}
                <span class="d-none" data-val="10"><i class="fas fa-dice-four fa-4x text-danger" data-bs-toggle="popover" data-bs-trigger="hover" data-html="true" title="{% trans 'Destiny Dice' %}" data-bs-content="{% trans 'Destiny dice may be added to rolls just like bonus dice, but they always succeed on a 4+ roll. Additionally they may be used to steal an action in combat at any time.<br><br>Destiny dice are expended on use and refresh at a rest of at least 8 hours.' %}"></i></span>
            {% endfor %}
            <span class="d-none" data-val="10"><i class="fas fa-heart fa-4x text-danger"></i></span>
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="10"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .slider.slider-horizontal {
        margin-left: 15px;
        width: 80%;
    }
</style>

<script>
    $(function(){
        setTimeout(function(){
            $('#rest-hours-input').slider({
                ticks: [3, 4, 5, 6, 7, 8, 9, 10],
                ticks_labels: ["3", "4", "5", "6", "7", "8", "9", "10"],
                value: 3
            })
        }, 300);

        $('#rest-hours-input').on('slide', function(e){
            var val = $(this).val();
            $('div.rest-results span').each(function(index){
                if($(this).data('val') <= val) {
                    $(this).removeClass('d-none');
                } else {
                    $(this).addClass('d-none');
                }
            })
        });

        $('.rest-button').on('click', function(e){
            $('div.rest-results span').each(function(index) {
                $(this).addClass('animated fadeOutUp');
            });
            e.preventDefault();
            return false;
        });
    })
</script>